* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --max-width: 1440px
}

/* ! */
html,body {
    font-family: "Neue Montreal";
    background: black;
    color: white;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
}

/* ! */
.line__container {
    /* border: 1px solid red; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    height: 100%;
    max-width: var(--max-width);
    overflow: hidden;
}

.separator {
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.144);
}

.separator:nth-child(1) {
    left: 25%;
}

.separator:nth-child(2) {
    left: 50%;
}

.separator:nth-child(3) {
    left: 75%;
}

/* ! *//* ! */
main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/* ! */
.scroll__container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ! */
section {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}


/* HERO */

/* ! */
#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* ! */
.hero__container {
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.hero__title{
    overflow: hidden;
}

/* ! */
.hero__title h1{
    overflow: hidden;
}

.hero__title__header {
    font-size: clamp(2rem, 20cqi, 20rem);
    letter-spacing: -0.05em;
    margin-bottom: 2rem;
}

/* ABOUT */

/* ! */
#about {
    display: flex;
    justify-content: center;
}

/* ! */
.about__container {
    min-height: 100%;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text {
    width: 45%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    font-size: 1.4rem;
    letter-spacing: -.05em;
}


/* VIDEO */

/* ! *//* ! */
#video {
    display: flex;
    justify-content: center;
    height: 200%;
}

.shim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    
}

/* ! *//* ! */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50%;
}

/* ! *//* ! */
video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: scale(.5);
    will-change: transform;
}

.video__text__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(2rem, 10cqi, 10rem);
    overflow: hidden;
}


/* Projects */


#projects {
    position: relative;
    height: 200%;
}

.projects__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50%;
}

.slider__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__slider {
    height: 100%;
    display: flex;
    width: min-content;
    overflow: hidden;
    will-change: transform;
}


/* TODO: JS classlist */

.project {
    position: relative;
    width: 25vw;
    height: 100%;
    padding: 80px 20px 60px;
    display: flex;
    flex-direction: column;
}

.image__container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.project__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(50%);
}

.start {
    justify-self: flex-start;
}

.mid {
    justify-content: center;
}

.end {
    justify-content: end;
}

.project__details {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 1rem;
}

.project__details p {
    font-size: .8rem;
}